body {
    background: #080b24;
    color: #FFF4B7;
}

div.container {
    font-size: 4vh;
    margin-bottom: 1vh;
    background-color: #11184b;
    border-radius: 5px;
    padding: 1vh;
    height: 20%;
}

.id {
    font-weight: bold;
    color: #5bcef1;
    text-shadow: #4b0301 1px 1px 1px 1px;
    margin: 1vh;
    text-align: center;
    border-radius: 3vh;
    -webkit-text-stroke: 0.05vw #000;
}

.sever {
    background: #000 !important;
    color: #fff !important;
    border: #5bcef1 solid 2px;
}


#mesige-con {
    height: 80vh;
    overflow: auto;
    border-radius: 40px;
}

#message {
    width: 50%;
    background: #070a20;

    display: block;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;

    color: #fff6b8;
    border: #8d8a94 solid 3px;
    border-radius: 1vw;
    padding: 1em 2em;

    font-size: 3vh;

    transition: all 0.1s ease;
}

#message:hover {
    background: #070a20;
    border: #8d8a94 solid 2px;
}

#message:focus {
    outline: none;
    background: #070a20;
    border: #8d8a94 solid 2px;
}

#username {
    font-weight: bold;
    color: #fff6b8;
    margin-top: 48vh;
    height: 10vh;
    width: 100%;
    font-size: 7vh;
    background-color: #4b0301;
    text-align: center;
    align-self: center;
    border-radius: 3vh;
    border: none;
}

#username:focus {
    outline: none;
}

#colour {
    width: 50%;

    padding: 0;
    margin-top: 20px;
    margin-left: 25%;

    border: #2b2727 10px solid;

    background-color: transparent;


    border-radius: 0;
}

#user-list-container {
    position: absolute;
    left: -100vh;
    height: 80vh;
    min-width: 20%;
    max-width: 50%;

    z-index: 100;

    background: #010420;

    text-align: center;

    margin: 1em;

    overflow-y: auto;
    overflow-x: hidden;

    transition: all 0.1s ease;
}

#user-list-container.show {
    left: 0vh;
}

#user-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-list p {
    background-color: #4b0301;
    margin: 2px;
    padding: 5px;
    width: 90%;
}